<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gf</title>
</head>
<body>
<form>
    <input type="text" placeholder="Enter"/>
    <button type="button">Submit</button>
</form>
</body>
<style>
    form{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    input{
        display: block;
        width: 100px;
    }

    button{
        display: block;
        width: 100px;
        margin-top: 10px;
    }

</style>
</html>